In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Q5

In [11]:
gdp_df = pd.read_csv('C:/Users/ben/Documents/Data_Analytics/projects/Python/gdp-and-internet-usage-bensdata/data/gdp_percapita.csv')
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN

### Q6

In [19]:
internet_df = pd.read_csv('C:/Users/ben/Documents/Data_Analytics/projects/Python/gdp-and-internet-usage-bensdata/data/internet_use.csv', nrows=4496)
#limited rows to 4496 with nrow=
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

### Q7: Look at the shape of each dataframe - how many rows, how many columns.

In [22]:
gdp_df.shape

(6731, 4)

In [53]:
internet_df.shape

(4496, 4)

### Q8. Take a look at the data types for the columns in each table.

In [49]:
gdp_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [48]:
internet_df.dtypes

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

Personal Question: Why do the following differ?

In [54]:
internet_df.Value.dtypes

dtype('float64')

In [55]:
type(internet_df.Value)

pandas.core.series.Series